*,
*::before,
*::after {
   box-sizing: border-box;
}

@font-face {
    font-family: 'MyFont';
    src: url(MerriweatherSans-VariableFont_wght.ttf);
}


body {
    margin: 0;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: inline-grid;
    grid-template-columns: 210px 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 1fr;
}

.left-side {
    background-color: #332f2f;
    height: 100vh;
    padding: 30px;
}

h1 {
    margin: 0;
    font-family: 'MyFont';
    font-weight: bold;
}

.logo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #e4e0e0;
    font-size: 8px;
    margin-bottom: 35px;
}

.logo-img {
    width: 27px;
    height: 27px;
}

.top-bar {
    background-color: #e4e0e0;
    grid-column: 2 / 5;
    padding: 20px;

}

.content-section {
    height: 100%;
    background-color: #fff;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;

}

.right-side {
    background-color: #fff;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}

a,
a:visited {
    text-decoration: none;
    color: #e4e0e0;
    font-weight: lighter;
    font-size: 12px;
}

a:hover {
    text-decoration:underline;
    color: #e4e0e0;
}

.control-icon {
    height: 20px;
    width: 20px;
    margin-top: 3px;
}

.flex-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-family: 'MyFont';
    font-weight: bold;
    font-size: 15px;
    color: #212121;
}

#margin-panel {
    margin-top: 50px;
}

.search-icon {
    height: 25px;
    width: 25px;
}

.search-icon:hover {
    cursor: pointer;
}

.top-side {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}

.search-bar {
    border-radius: 40px;
    padding-left: 8px;
    outline: none;
    border: none;
    width: 600px;
    height: 25px;
    font-family: 'MyFont';
}

.search {
    grid-column: 1/7;
    display: flex;
    gap: 7px;
}

.right-bar {
    grid-column: 8/10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notification-icon {
    height: 25px;
    width: 25px;
}

.notification-icon:hover {
    cursor: pointer;
}

#right-pic {
    height: 60px;
    width: 60px;
    margin-bottom: 100px;
}