*,
*::before,
*::after {
   box-sizing: border-box;
}

@font-face {
    font-family: 'MyFont';
    src: url(MerriweatherSans-VariableFont_wght.ttf);
}


body {
    margin: 0;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 210px repeat(5, 1fr);
    grid-template-rows: 150px repeat(1, 1fr);
    width: 100%;
}

.left-side {
    background-color: #332f2f;
    padding: 30px;
    grid-row: 1/3;
}

h1 {
    margin: 0;
    font-family: 'MyFont';
    font-weight: bold;
}

.logo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #e4e0e0;
    font-size: 8px;
    margin-bottom: 35px;
}

.logo-img {
    width: 27px;
    height: 27px;
}

.top-bar {
    background-color: #e4e0e0;
    grid-column: 2 / 7;
    padding: 20px;
    box-shadow: 2px 2px 4px #332f2f73;
    position: relative;
}

.right-side {
    background-color: #fff;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 20px;
}

.content-section {
    background-color: #fff;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 15px;
}

a,
a:visited {
    text-decoration: none;
    color: #e4e0e0;
    font-weight: lighter;
    font-size: 12px;
}

a:hover {
    text-decoration:underline;
    color: #e4e0e0;
}

.control-icon {
    height: 20px;
    width: 20px;
    margin-top: 3px;
}

.flex-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-family: 'MyFont';
    font-weight: bold;
    font-size: 15px;
    color: #212121;

}

#margin-panel {
    margin-top: 50px;
}

.search-icon {
    height: 25px;
    width: 25px;
}

.search-icon:hover {
    cursor: pointer;
}

.top-side {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search-bar {
    border-radius: 40px;
    padding-left: 8px;
    outline: none;
    border: none;
    width: 600px;
    height: 25px;
    font-family: 'MyFont';
}

.search {
    grid-column-start: auto;
    display: flex;
    gap: 7px;
}

.right-bar {
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notification-icon {
    height: 25px;
    width: 25px;
}

.notification-icon:hover {
    cursor: pointer;
}

#right-pic {
    height: 40px;
    width: 40px;
    margin-bottom: 30px;
}

.grid-cont-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.notes {
    background-color: #e4e0e0;
    border: 1px solid #332f2f;
    border-left: 8px solid #332f2f;
    width: 280px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 2px 2px 4px #21212169;
    text-align: justify;
}

.notes:hover {
    transform: scale(0.98);
}

h2, h3, h4 {
    font-family: 'MyFont';
    color: #332f2f;
}

p {
    font-family: 'MyFont';
    font-size: 12px;
    color: #332f2f;
}

.note-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
}

.not-ico-img {
    height: 25px;
    width: 25px;
    transition: filter 0.2s ease-in-out;
}

.not-ico-img:hover {
    cursor: pointer;
    filter: opacity(60%)
}

.updates-section {
    border: 1px solid #332f2f;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 2px 2px 2px #21212169;
}

.announce1, .announce2 {
    border-bottom: 1px solid #332f2f;
}

.update-p {
    font-size: 12px;
}